:root {
    --text-color: #022236;
    --background-color: #71f2ff;
    --section-color: #85fff2;
}
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1em;
    background-color: var(--background-color);
}

header {    
    text-align: center;
}

p {
    width: clamp(350px, 700px, 850px);
    line-height: 1.2;
}

section {
    background-color: var(--section-color);
    padding: 10px 20px;
    border-radius: 10px;
}

button {
    margin-right: auto;
    cursor: pointer;
    padding: 10px;
    border-radius: 6px;
    & a {
        text-decoration: none;
    }
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 25px 0;
    background-color: var(--text-color);
    color: whitesmoke;
}