:root {
    --text-color: #022236;
    --background-color: #f7f7f7;
    --section-color: #85fff2;
}
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: var(--text-color);
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1em;
    background-color: var(--background-color);
    & #cover {
        /* Added a border to make the image easier to see */
    border: 1px solid var(--text-color);
    } & p {
        max-width: 800px;
    }
}

header {    
    text-align: center;
}

.learn-more {
    text-align: center;
} 

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--section-color);
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 700px;
    & p {
        text-align: center;
    }
}

button {
    margin-right: auto;
    cursor: pointer;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    & a {
        text-decoration: none;
    }
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 25px 0;
    background-color: var(--text-color);
    color: whitesmoke;
}

@media only screen and (width <= 800px) {
    main {
        padding: 0 20px;
    }

    section {
        width: 100%;
    }
    
}

@media only screen and (width <= 425px) {
    img {
        width: 350px;
    }
}